#header {
    width: 220px;
  }
  #header .pro-sidebar {
    height: 100%;
  }
  #header .closemenu {
    color: #000;
    /* position: absolute; */
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
  }
  #header .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }

  /* HYPERLINKS */
  .pro-sidebar .pro-menu a {
    text-decoration: none;
    color: rgb(190, 152, 110);
}

/* HOVER OPTIONS */
.pro-sidebar .pro-menu a:hover {
  color:  rgb(210, 172, 130);
}

  #header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
  /* CHANGE THIS TO AFFECT THE ENTIRE BACKGROUND OF THE SIDEBAR */
  #header .pro-sidebar-inner {
    background-color: rgba(185, 156, 107,0.8);
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  }
  #header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    padding: 0 20px;
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
  }

  /* CHANGE THIS TO CHANGE THE ICON FORE AND BACK COLORS */
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #579069;
    color: lightgoldenrodyellow;
    border-radius: 300px;
    box-shadow: 2px 2px 1px wheat;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
  }

  /* CHANGE THIS TO CHANGE THE STYLE OF THE ACTIVE THING IN THE SIDEBAR */
  /* #header .pro-sidebar-inner .pro-sidebar-layout .active {
    background-image: linear-gradient(0deg, rgba(255,255,255,0.1) 0%, rgba(255,200,205,0.91) 100%);
  } */
  #header .logo {
    padding: 20px;
  }
  
  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }